.mainConteiner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100vh;

}

.profilePhotoName {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #50125c;
    flex-grow: 1;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    color: white;
}

.profileData {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 4;
    padding: 20px;
    align-self: stretch;
    justify-content: flex-start;
    color: black;
}

.profileImage {
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.userName {
    padding-top: 20px;
}

.addIcon {
    margin-bottom: -175px;
    margin-left: -25px;
    border-radius: 25px;
    color: rebeccapurple;
    background-color: white;
}